<% provide(:title, "Department") %>
<h1>Departments</h1>
<div class="well">
  <%= link_to "New Department", new_department_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Department</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @departments.size == 0 %>
      <tr>
        <td colspan="6">No departments found.</td>
      </tr>
    <% else %>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.name %></td>
          <td>
            <%= link_to "Edit", edit_department_path(department), class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to 'Delete', department, method: :delete, data: { confirm: 'Are you sure you wish to delete this department' }, class: "btn btn-danger"  %></td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>