<% provide(:title, "Login") %>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br/>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>